# Nsh formatting style
# Compatible with clang-format 13

BasedOnStyle: WebKit

Standard: c++20

AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Mozilla
BreakBeforeConceptDeclarations: true
ColumnLimit: 100
FixNamespaceComments: true
IndentRequires: true
NamespaceIndentation: None
SortIncludes: CaseInsensitive
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList : false
SpaceInEmptyBlock: false
