# Nsh formatting style
# This clang-format configuration is compatible with clang-format 13
BasedOnStyle: WebKit
Language: Cpp
Standard: c++20
ColumnLimit: 120
BreakBeforeBraces: Mozilla
AlignOperands: AlignAfterOperator

# Disable short blocks on single line
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

# Concept/require clause settings
IndentRequires: true

# Template settings
AlwaysBreakTemplateDeclarations: true
SpaceAfterTemplateKeyword: false

# Namespace settings
CompactNamespaces: true
FixNamespaceComments: true
NamespaceIndentation: None

# Parameter splitting
# If parameters/arguments do not fit in a single line, break them one by line using
# ContinuationIndentWidth as indentation.
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
# Occasionally clang-format breaks lines between return type and function name. Disabling this.
PenaltyReturnTypeOnItsOwnLine: 1000
# Avoid breaking around assignment
PenaltyBreakAssignment: 1000
